<web-app>
  <display-name>Archetype Created Web Application</display-name>
  
    <listener>
    	<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
    </listener>
    
    <context-param>
    	<description>Location of Spring Configuration File</description>
    	<param-name>contextConfigLocation</param-name>
    	<param-value>classpath:/spring-config/spring-config.xml</param-value>
    </context-param>
  	
  	<!-- Dispatcher Servlet to receive all requests -->
  	<servlet>
  		<servlet-name>testapp</servlet-name>
  		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
  		<init-param>
  			<param-name>contextConfigLocation</param-name>
  			<param-value>classpath:spring-config/testapp-servlet.xml</param-value>
  		</init-param>
  	</servlet>
  	
  	<servlet-mapping>
  		<servlet-name>testapp</servlet-name>
  		<url-pattern>/</url-pattern>
  	</servlet-mapping>
  
</web-app>
